<legend>Add Airline</legend>

<form #airlineForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="">Airline Name</label>
        <input #name="ngModel" type="text" class="form-control" 
        [class.is-invalid]="name.invalid && name.touched"  name="username" [(ngModel)]="airlineModel.airlineName" required>

        <small class="text-danger" [class.d-none]="name.valid || name.untouched">This is required field</small>
        

    </div>

    <div class="form-group">
        <label for="">Upload Logo</label>
        <input type="text" class="form-control" name="uploadLogo" [(ngModel)]="airlineModel.uploadLogo">
    </div>

    <div class="form-group">
        <label for="">Flight Number</label>
        <input type="text" #flightNumber="ngModel" class="form-control"  name="flightNumber" [(ngModel)]="airlineModel.flightNumber" 
        [class.is-invalid]="flightNumber.invalid && flightNumber.touched" required pattern="^\d{4}$">

        <div *ngIf="flightNumber.errors && (flightNumber.invalid || flightNumber.touched)">
            <small class="text-danger" *ngIf="flightNumber.errors.required">Flight Number number is required</small>
            <small class="text-danger" *ngIf="flightNumber.errors.pattern">Flight Number number must be 4 digit</small>
        </div>
        

    </div>

    <div class="form-group">
        <label for="">From Place</label>
        <select class="form-control" [(ngModel)]="airlineModel.fromPlace" name="fromPlace">
            <option *ngFor="let fromPlace of fromPlaces">{{ fromPlace }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">To Place</label>
        <select class="form-control" [(ngModel)]="airlineModel.toPlace" name="toPlace">
            <option *ngFor="let toPlace of toPlaces">{{ toPlace }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="">Start Date Time</label>
        <input type="datetime-local" class="form-control" name="startdatetime" [(ngModel)]="airlineModel.startdatetime">
    </div>

    <div class="form-group">
        <label for="">End Date Time</label>
        <input type="datetime-local" class="form-control" name="enddatetime" [(ngModel)]="airlineModel.enddatetime">
    </div>

    <div class="form-group">
        <label for="">Scheduled Days</label>
        <select class="form-control" [(ngModel)]="airlineModel.scheduleddays" name="scheduleddays">
            <option *ngFor="let scheduleddays of scheduleddayss">{{ scheduleddays }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="">Instrument Used</label>
        <select class="form-control" [(ngModel)]="airlineModel.instrumentUsed" name="instrumentUsed">
            <option *ngFor="let instrumentUsed of instrumentUseds">{{ instrumentUsed }}</option>
        </select>
    </div>

        
    <div class="form-group">
        <label for="">Total Number of Business Class Seats</label>
        <input type="number" #tNoBusinessClassSeats="ngModel" class="form-control"  name="tNoBusinessClassSeats" [(ngModel)]="airlineModel.tNoBusinessClassSeats"> 
    </div>

    <div class="form-group">
        <label for="">Total Number of Non Business Class Seats</label>
        <input type="number" #tNoNonBusinessClassSeats="ngModel" class="form-control"  name="tNoNonBusinessClassSeats" [(ngModel)]="airlineModel.tNoNonBusinessClassSeats"> 
    </div>

    <div class="form-group">
        <label for="">Ticket Costs</label>
        <input type="number" #ticketCost="ngModel" class="form-control"  name="ticketCost" [(ngModel)]="airlineModel.ticketCost"> 
    </div>

    <div class="form-group">
        <label for="">Number Of Rows</label>
        <input type="number" #numberofRows="ngModel" class="form-control"  name="numberofRows" [(ngModel)]="airlineModel.numberofRows"> 
    </div>

    <div class="form-group">
        <label for="">Meal</label>
        <select class="form-control" [(ngModel)]="airlineModel.meal" name="meal">
            <option *ngFor="let meal of meals">{{ meal }}</option>
        </select>
    </div>
<!-- 
    <div class="form-group">
        <label for="">Gender</label>
        <div class="form-check">
            <input type="radio" name="gender" value="male" class="form-check-input" [(ngModel)]="userModel.gender">
            <label for="" class="form-check-label">Male</label>
        </div>

        <div class="form-check">
            <input type="radio" name="gender" value="female" class="form-check-input" [(ngModel)]="userModel.gender">
            <label for="" class="form-check-label">Female</label>
        </div>
    </div>

    <div class="form-group">
        <input type="checkbox" class="foorm-check-input" [(ngModel)]="userModel.subscribe" name="subscribe">
        <label for="" class="form-check-label">Subscribe</label>
    </div> -->

    <input type="submit" [disabled]="airlineForm.invalid" value="Submit" class="btn btn-primary">
    
    

</form>
<!-- 
<legend>Airline </legend>
<form [formGroup]="eRegisterForm" (submit)="registerAirline()">
    
    <div class="col-sm-2" form-group>
        <label>Airline Name:</label>
        <input type="text" formControlName="airlineName" />
        <span *ngIf="(eRegisterFormControl.name.touched || submitted) && eRegisterFormControl.name.errors?.required">
            Airline Name is required
        </span>
    </div>

    <div class="col-sm-2">
        <label>Upload Logo:</label>
        <input type="text" formControlName="uploadLogo" />
    </div>
    <div class="col-sm-2">
        <label>Flight Number:</label>
        <input type="number" formControlName="flightNumber" />
    </div>
     <div class="col-sm-2">
        <label>Contact Address:</label>
        <input type="text" formControlName="contactAddress" />
    </div> 
    <div class="col-sm-2">
        <label>From Place:</label>
        <input type="text" formControlName="fromPlace" />
    </div>
    <div class="col-sm-2">
        <label>To Place:</label>
        <input type="text" formControlName="toPlace" />
    </div>
    <div class="col-sm-2">
        <label>Start Date Time:</label>
        <input type="datetime" formControlName="startdatetime" />
    </div>
    <div class="col-sm-2">
        <label>End Date Time:</label>
        <input type="datetime" formControlName="enddatetime" />
    </div>
    <div class="col-sm-2">
        <label>Scheduled Days:</label>
        <input type="text" formControlName="scheduleddays" />
    </div>
    <div class="col-sm-2">
        <label>Instrument Used:</label>
        <input type="text" formControlName="instrumentUsed" />
    </div>
    <div class="col-sm-2">
        <label>Business Class Seats:</label>
        <input type="number" formControlName="tNoBusinessClassSeats" />
    </div>
    <div class="col-sm-2">
        <label>Non Business Class Seats:</label>
        <input type="number" formControlName="tNoNonBusinessClassSeats" />
    </div>
    <div class="col-sm-2">
        <label>Ticket Cost:</label>
        <input type="number" formControlName="ticketCost" />
    </div>
    <div class="col-sm-2">
        <label>Number of Rows:</label>
        <input type="number" formControlName="numberofRows" />
    </div>
    <div class="col-sm-2">
        <label>Meal type:</label>
        <input type="text" formControlName="meal" />
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit">Register</button>       
            <button button type="button" class="btn btn-outline-success btn-sm">Register</button>
    </div>
    </div>
</form> --> 